@charset "utf-8";
/* ==============================
	初期化
============================== */

/* ------------------------------
	リセット
------------------------------ */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
}

body{
	line-height:1;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section{
	display:block;
}

ul{
	list-style:none;
}

blockquote, q{
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}

ins{
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

mark{
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}

del{
	text-decoration:line-through;
}

abbr[title], dfn[title]{
	border-bottom:1px dotted #000;
	cursor:help;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

hr{
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}

input, select{
	vertical-align:middle;
}

/* ------------------------------
	font
------------------------------ */
body{
	color: #333333;
	font-size: 14px;
	font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}
/* override winIE7 */
*:first-child+html body{
	font-size:100%;
}
/* override under winIE6 */
* html body{
	font-size:100%;
}
body *{
	line-height:1.4;
	font-size:100%;
}
table{
	font-size:inherit;
}

/* ------------------------------
	link
------------------------------ */
a{
	text-decoration:underline;
}
a:link{
	color:#3300ff;
}
a:visited{
	color:#660099;
}
a:hover{
	color:#3366ff;
}

/* ------------------------------
 clearfix
 ------------------------------ */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix {
	zoom: 1;
} /* IE6 */
*: first-child+ html .clearfix {
	zoom: 1;
} /* IE7 */