/*
 * My OFFICE moui.css
 * 2016/9/29
 */

/******************************
 * 標準タグスタイル
******************************/
/* 共通 */
@margin-xlarge: 30px;
@margin-large: 20px;
@margin-medium: 10px;
@margin-small: 5px;
@margin-thin: 3px;

@boxsize-touch-large: 60px;
@boxsize-touch-medium: 48px;
@boxsize-touch-small: 36px;

@font-size-large: 2.0rem;
@font-size-medium: 1.5rem;
@font-size-small: 1.35rem;
@font-size-xsmall: 1.2rem;

@font-size-schedule-meduim: 1.2rem;
@font-size-schedule-small: 1.0rem;

/* 配色 */
@color-bg-default: #ffffff;
@color-text-default: #222222;
@color-text-link: #0088cc;
@color-text-hover: #00aaff;

/* 装飾 */
@radius: 3px;
@box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);

/******************************
 * フォント
******************************/
@font-face {
  font-family: "Fujitsu Sans";
  src: url('../font/eot/FujitsuSansRegular.eot'), url('../font/FujitsuSansRegular.ttf') format('truetype');
}
@font-face {
  font-family: "Fujitsu Sans Bold";
  src: url('../font/eot/FujitsuSansBold.eot'), url('../font/FujitsuSansBold.ttf') format('truetype');
}
@font-face {
  font-family: "Fujitsu Sans Medium";
  src: url('../font/eot/FujitsuSansMedium.eot'), url('../font/FujitsuSansMedium.ttf') format('truetype');
}
@font-face {
  font-family: "Fujitsu Sans Light";
  src: url('../font/eot/FujitsuSansLight.eot'), url('../font/FujitsuSansLight.ttf') format('truetype');
}

/******************************
 * 標準タグスタイル
******************************/
*{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  box-sizing: border-box;
}
html{
  height: 100%;
  font-size: 62.5%;
}
body{
  min-width: 800px;
  height: 100%;
  background-color: @color-bg-default;
  line-height: 1;
  font-size: @font-size-medium;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  font-weight: 300;
  color: @color-text-default;
  -webkit-text-size-adjust: 100%;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 300;
  font-size: @font-size-medium;
}
a{
  text-decoration: underline;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-size: @font-size-medium;
}
a:link{
  color: @color-text-link;
}
a:visited {
  color: @color-text-link;  
}
a:hover {
  color: @color-text-hover;
}
a:active {
  color: @color-text-hover;
}
a.fbui-touch{
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}
pre{
  font-family: Sans-serif;
  font-weight: normal;
  font-size: @font-size-medium;
}
ul{}
ul > li{
  list-style-type: none;
}
/* 入力有効 */
input,textarea,select,label{
  -webkit-user-select: auto;
}
/* ボタン */
input[type=button],
input[type=submit],
button{
}

/* テキスト入力 */
input[type=text],
input[type=email],
input[type=search],
textarea{
}

/* 検索ボックス */
input[type=search]{
}

/* セレクトボックス */
select{
}

/******************************
 * コンポーネント
******************************/
/*スペーサー*/
.moui-spacer-large{
  display: inline-block;
  width: @margin-large;
  font-size: 0;
}
.moui-spacer-medium{
  display: inline-block;
  width: @margin-medium;
  font-size: 0;
}
.moui-spacer-small{
  display: inline-block;
  width: @margin-small;
  font-size: 0;
}

/******************************
 * 共通レイアウト
******************************/
body{
  display: flex;
  flex-direction: column;
}
.moui-systemheader{
  min-height: 90px;
  z-index: 1001;
}
.moui-contents-wrapper{
  flex-grow: 1;
  z-index: 1000;
}

/******************************
 * 共通スタイル
******************************/
body{
  background: linear-gradient(to bottom, #ffffff, #f5faff);
}

/* ヘッダー */
.moui-systemheader{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: @margin-medium @margin-large;
  
  /*border-bottom: 3px solid #4b6980;*/
  
  .moui-systemtitle{
    flex-grow: 3;
    margin-bottom: 1px;
    
    h1{
      font-family: "Fujitsu Sans";
      font-size: 4.5rem;
      letter-spacing: 0.3rem;
      color: #4c7799;
    }
  }
  
  .moui-subinformation{
    
    margin-bottom: 7px;
    
    ul{
      display: flex;
      justify-content: flex-end;
    }
    
    ul > li{
      display: flex;
      margin-right: @margin-xlarge;
    }
    ul > li:last-child{
      margin-right: 0;
    }
    
    .moui-dropdownmenu{
      ul{
        display: none;
      }
    }
  }
  .moui-fujitsulogo{
    margin-left: 50px;
  }
}


.moui-contents-wrapper{
  display: flex;
  flex-direction: row;
  padding: @margin-medium;
  
  /*background-color: #f4f4f4;*/
  
  /* サービスメニュー */
  .moui-servicemenu{
    width: 300px;
    overflow-y: auto;
    
    /*background-color: #e9edf0;*/
    
    .moui-menusection{
      margin-bottom: @margin-large;
    }
    .moui-menusection:last-child{
      margin-bottom: 0;
    }
    
    .moui-title{
      margin: @margin-xlarge @margin-large @margin-medium @margin-large;
      font-weight: bold;
      color: #525d66;
    }
    
    ul.moui-menulist, ul.moui-menucategory{
    }
    
    ul.moui-menulist > li{
      
    }
    ul.moui-menulist > li > a{
      display: block;
      margin-left: @margin-large;
      padding: @margin-medium;
      border-top: 1px solid #b7babd;
      text-decoration: none;
      color: #3d464d;
    }
    ul.moui-menulist > li:last-child > a{
      border-bottom: 1px solid #b7babd;
    }
    ul.moui-menulist > li > a:hover{
      background-color: #d1e2f0;
    }
    ul.moui-menulist > li.moui-current > a{
      background-color: #59acf0;
      font-weight: bold;
      color: #ffffff;
    }
  }
  .moui-maincontents{
    flex-grow: 1;
    margin: @margin-large;
  }
}

/******************************
 * トップ画面
******************************/
main.moui-dashboard{
  display: flex;
  flex-direction: column;
  
  .moui-module{
    margin-bottom: @margin-large;
    background-color: #ffffff;
  }
  .moui-module:last-child{
    margin-bottom: 0;
  }
  .moui-notice{
    padding: @margin-medium;
    order: 1;
  }
  .moui-minicalendar{
    padding: @margin-medium;
    order: 2;
  }
  .moui-workovertime{
    padding: @margin-medium;
    order: 3;
  }
  .moui-application{
    padding: @margin-medium;
    order: 4;
  }
}