/*
 * My OFFICE moui.css
 * 2016/9/29
 */

/******************************
 * 標準タグスタイル
******************************/
/* 共通 */
@margin-xlarge: 30px;
@margin-large: 20px;
@margin-medium: 10px;
@margin-small: 5px;
@margin-thin: 3px;

@boxsize-touch-large: 60px;
@boxsize-touch-medium: 48px;
@boxsize-touch-small: 36px;

/* フォント */
@font-size-large: 2.0rem;
@font-size-medium: 1.5rem;
@font-size-small: 1.35rem;
@font-size-xsmall: 1.2rem;

@font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;

/* 配色 */
@color-bg-default: #ffffff;
@color-border-default: #b7babd;

@color-text-default: #222222;
@color-text-link: #0088cc;
@color-text-hover: #00aaff;



/* 装飾 */
@radius: 3px;
@box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);

/******************************
 * Webフォント
******************************/
@font-face {
  font-family: "Fujitsu Sans";
  src: url('../font/eot/FujitsuSansRegular.eot'), url('../font/FujitsuSansRegular.ttf') format('truetype');
}
@font-face {
  font-family: "Fujitsu Sans Bold";
  src: url('../font/eot/FujitsuSansBold.eot'), url('../font/FujitsuSansBold.ttf') format('truetype');
}
@font-face {
  font-family: "Fujitsu Sans Medium";
  src: url('../font/eot/FujitsuSansMedium.eot'), url('../font/FujitsuSansMedium.ttf') format('truetype');
}
@font-face {
  font-family: "Fujitsu Sans Light";
  src: url('../font/eot/FujitsuSansLight.eot'), url('../font/FujitsuSansLight.ttf') format('truetype');
}

/******************************
 * 標準タグスタイル
******************************/
*{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  box-sizing: border-box;
}
html{
  height: 100%;
  font-size: 62.5%;
}
body{
  min-width: 900px;
  height: 100%;
  background-color: @color-bg-default;
  line-height: 1;
  font-size: @font-size-medium;
  font-family: @font-family;
  font-weight: 300;
  color: @color-text-default;
  -webkit-text-size-adjust: 100%;
}
h1,h2,h3,h4,h5,h6{
  line-height: 1;
  font-weight: 300;
  font-size: @font-size-medium;
}
a{
  text-decoration: underline;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-size: @font-size-medium;
}
a:link{
  color: @color-text-link;
}
a:visited {
  color: @color-text-link;  
}
a:hover {
  color: @color-text-hover;
}
a:active {
  color: @color-text-hover;
}
a.fbui-touch{
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}
pre{
  font-family: Sans-serif;
  font-weight: normal;
  font-size: @font-size-medium;
}
ul{}
ul > li{
  list-style-type: none;
}
/* 入力有効 */
input,textarea,select,label{
  -webkit-user-select: auto;
}
/* ボタン */
input[type=button],
input[type=submit],
button{
}

/* テキスト入力 */
input[type=text],
input[type=email],
input[type=search],
textarea{
}

/* 検索ボックス */
input[type=search]{
  display: block;
  width: 100%;
  padding: @margin-small @margin-small @margin-small 32px;
  -webkit-appearance: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid @color-border-default;
  background-image: url('../images/icon/search.svg');
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 18px;
  font-family: @font-family;
  font-size: @font-size-medium;
}

/* セレクトボックス */
select{
}

/******************************
 * コンポーネント
******************************/
/*スペーサー*/
.moui-spacer-large{
  display: inline-block;
  width: @margin-large;
  font-size: 0;
}
.moui-spacer-medium{
  display: inline-block;
  width: @margin-medium;
  font-size: 0;
}
.moui-spacer-small{
  display: inline-block;
  width: @margin-small;
  font-size: 0;
}

/******************************
 * PCレイアウト
******************************/
body{
  display: flex;
  flex-direction: column;
}
.moui-systemheader{
  min-height: 90px;
  z-index: 1001;
}
.moui-maincontents-wrapper{
  display: flex;
  flex-direction: row;
  z-index: 1000;
  
  .moui-servicemenu{
  }
  .moui-maincontents{
    flex-grow: 1;
  }
}

/******************************
 * 共通スタイル
******************************/
body{
  background: linear-gradient(to bottom, #ffffff, #f5faff);
}

/* ヘッダー */
.moui-systemheader{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: @margin-medium @margin-large;
  
  .moui-systemtitle{
    flex-grow: 1;
    margin-bottom: 1px;
    
    h1{
      font-family: "Fujitsu Sans";
      font-size: 4.5rem;
      letter-spacing: 0.3rem;
      color: #4c7799;
    }
  }
  .moui-quicksearch{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
    
    input{
      width: 300px;
    }
  }
  .moui-lastlogin{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
    
    input{
      width: 300px;
    }
  }
  .moui-systemmenu{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 7px;
    
    ul.moui-dropdownmenu{
      display: none;
    }
  }
  .moui-fujitsulogo{
    margin-left: 30px;
  }
}


.moui-maincontents-wrapper{
  padding: @margin-medium 0;
  
  /* サービスメニュー */
  .moui-servicemenu{
    padding-right: 12px;
    overflow-y: auto;
    
    .moui-searchsection{
      margin: 0 0 @margin-large @margin-large;
    }
    
    .moui-menusection{
      margin-bottom: @margin-large;
    }
    .moui-menusection:last-child{
      margin-bottom: 0;
    }
    
    .moui-title{
      margin: @margin-xlarge @margin-large @margin-medium @margin-large;
      font-weight: bold;
      color: #525d66;
    }
    
    ul.moui-menulist > li{
    }
    ul.moui-menulist > li > a{
      display: block;
      margin-left: @margin-large;
      padding: @margin-medium @margin-medium @margin-medium 32px;
      border-top: 1px solid @color-border-default;
      background-image: url('../images/icon/document1.svg');
      background-repeat: no-repeat;
      background-position: 5px center;
      background-size: 18px;
      text-decoration: none;
      color: #3d464d;
    }
    ul.moui-menulist > li:last-child > a{
      border-bottom: 1px solid @color-border-default;
    }
    ul.moui-menulist > li > a:hover{
      background-color: #d1e2f0;
    }
    ul.moui-menulist > li > a:active{
      background-color: #59acf0;
    }
    ul.moui-menulist > li.moui-current > a{
      background-color: #59acf0;
      color: #ffffff;
    }
    
    /* アイコン種別 */
    ul.moui-menulist > li.moui-top a{
      background-image: url('../images/icon/home.svg');
    }
    ul.moui-menulist > li.moui-top.moui-current a{
      background-image: url('../images/icon/home-selected.svg');
    }
    ul.moui-menulist > li.moui-favorite a{
      background-image: url('../images/icon/tag.svg');
    }
    ul.moui-menulist > li.moui-favorite.moui-current a{
      background-image: url('../images/icon/tag-selected.svg');
    }
    ul.moui-menulist > li.moui-all a{
      background-image: url('../images/icon/list.svg');
    }
    ul.moui-menulist > li.moui-all.moui-current a{
      background-image: url('../images/icon/list-selected.svg');
    }
    ul.moui-menulist > li.moui-sequence a{
      background-image: url('../images/icon/archive.svg');
    }
    ul.moui-menulist > li.moui-sequence.moui-current a{
      background-image: url('../images/icon/archive-selected.svg');
    }
    ul.moui-menulist > li.moui-evaluation a{
      background-image: url('../images/icon/star.svg');
      background-size: 20px;
    }
    ul.moui-menulist > li.moui-evaluation.moui-current a{
      background-image: url('../images/icon/star-selected.svg');
      background-size: 20px;
    }
    ul.moui-menulist > li.moui-inquiry a{
      background-image: url('../images/icon/document2.svg');
    }
    ul.moui-menulist > li.moui-inquiry.moui-current a{
      background-image: url('../images/icon/document2-selected.svg');
    }
    ul.moui-menulist > li.moui-settings a{
      background-image: url('../images/icon/gear.svg');
    }
    ul.moui-menulist > li.moui-settings.moui-current a{
      background-image: url('../images/icon/gear-selected.svg');
    }
    ul.moui-menulist > li.moui-help a{
      background-image: url('../images/icon/question.svg');
    }
    ul.moui-menulist > li.moui-help.moui-current a{
      background-image: url('../images/icon/question-selected.svg');
    }
  }
  
  /* メインコンテンツ */
  .moui-maincontents{
    margin: 0 @margin-large;
    overflow-y: auto;
  }
}

/******************************
 * トップ画面
******************************/
main.moui-top{
  display: flex;
  flex-direction: column;
  
  .moui-module{
    margin-bottom: @margin-large;
    padding: @margin-medium;
    
    h3{
      margin-bottom: @margin-medium;
      padding: @margin-small @margin-small @margin-small 40px;
      background-image: url('../images/icon/info.svg');
      background-repeat: no-repeat;
      background-position: 5px center;
      background-size: 24px;
      font-size:  @font-size-large;
    }
    .moui-contents{
      background-color: #e1ebf2;
      padding: @margin-medium;
    }
  }
  .moui-module:last-child{
    margin-bottom: 0;
  }
  
  .moui-transportation{
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    
    .moui-center{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: @margin-medium;
      border-radius: @radius;
      background-color: #e1ebf2;
    }
    h3{
      display: inline-block;
      margin-right: @margin-large;
      margin-bottom: 0;
      background-image: url('../images/icon/train.svg');
      background-position: 8px center;
      background-size: 18px;
    }
  }
  .moui-notice{
    order: 2;
    
    h3{
      background-image: url('../images/icon/warning-selected.svg');
    }
  }
  .moui-minicalendar{
    order: 3;
    
    h3{
      background-image: url('../images/icon/checkmark.svg');
    }
  }
  .moui-workovertime{
    order: 4;
    
    h3{
      background-image: url('../images/icon/clock.svg');
    }
  }
  .moui-application{
    order: 5;
    
    h3{
      background-image: url('../images/icon/archive.svg');
    }
  }
  .moui-approval{
    order: 6;
    
    h3{
      background-image: url('../images/icon/inbox.svg');
    }
  }
}